.main-container{
    width: 512px;
}
.card{
    margin: 3% 5%;
    border: solid black;
    padding: 0 3%;
    height: 160px;
}
.left-margin{
    margin: 0% 2%;
}
.author{
    margin-bottom: 0%;
}
.text-author{
    margin-top: 0;
}